
:root {
    --primary-color: #EDEDED;
    --secondary-color: #1a84cb;
    --terceary-color: #0467a9;
    --white: #ffffff;
}

body{
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    background-size: cover;
    background-color: var(--primary-color);
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}


.cabezera{
    background-color: var(--secondary-color);
    height: 100px;
    align-content: center;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: background-color 300ms ease, backdrop-filter 300ms ease, height 0.3s;

}

.cabezera.scrolled{
    background-color: rgba(26, 78, 156, 0.7); /* Color con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    height: 60px;
}
.cabezera_logo img{
    transition: opacity 300ms ease;
}

.cabezera.scrolled .cabezera_logo img{
    opacity: 0.5;
}

.cabezera_contenido{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.cabezera_logo{
    width: 50px;
}

.menu-hamburguesa{
    flex-direction: column;
    align-content: center;
    display: flex;
    z-index: 4;
    margin: 2%;
    display: none;
}

.hamburguesa {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 4px 0;
    transition: all 0.3s ease;

}

.cabezera_navegacion{
    align-content: center;
}

.cabezera_menu{
    flex-direction: row;
    display: flex;
    color: white;
    text-decoration: none;
    gap: 30px;
    list-style: none;
    margin: 0;
}

.cabezera_menu a {
    text-decoration: none;
    color: var(--white);
    position: relative; 
    padding-bottom: 5px; 
    transition: color 200ms ease;
    font-size: 20px;
}

.cabezera_menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #EDEDED;
    transition: width 200ms ease; 
}

#sobreMi{
    scroll-margin-top: 120px;
}
#skills,
#hobbies,
#formacion,
#proyectos,
#contacto{
    scroll-margin-top: 60px;
}

.cabezera_menu a:hover::after,
.cabezera_menu a:focus::after {
    width: 100%; 
}

.menu_sidebar {
    display: none;
}


.main_presentacion{
    flex-direction: row;
    display: flex;
    margin: 15% 10% 10%;
    gap: 50px;
}

.nombre{
    color: var(--secondary-color);
}

.main_presentacion_img{
    display: flex;
    flex: 1.5;
    align-items: center;
    justify-content: center;

}

.mi_foto{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
}

.presentacion_contenido{
    flex-direction: column;
    display: flex;
    gap: 20px;
    flex: 3;
}

.presentacion_contenido h1{
    font-size: 45px;
}

.presentacion_contenido p{
    font-size: 20px;
}

.presentacion_enlaces{
    gap: 30px;
    flex-direction: row;
    display: flex;
}

.enlace{
    text-decoration: none;
    color: black;
    font-size: 35px;
}

.enlace i:hover{
    color: var(--terceary-color);
}

.sobreMi{
    height: 300px;
    align-content: center;
    color: black;
}

.sobreMi_contendido h2{
    background-color: var(--secondary-color);
}

.sobreMi_contendido{
    margin: 5% 10%;
    border: 1px solid;

}

.misHabilidades{
    align-content:  center;
}

.skills{
    margin: 5% 10%;
}

.hobbies{
    margin: 5% 10%;
}

.skills h2,
.hobbies h2{
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    max-width: 100%;
}

.cuadros{
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cuadro:hover{
    border: 2px solid #0467a9; 
    box-shadow: 0 4px 15px rgba(4, 103, 169, 0.5); 
}

.cuadro-html:hover{
    border: 2px solid #ff5733 !important; 
    box-shadow: 0 4px 15px rgba(169, 73, 4, 0.5); 
}

.cuadro-css:hover{
    border: 2px solid #2965f1 !important; 
    box-shadow: 0 4px 15px rgba(4, 40, 169, 0.5); 
}

.cuadro-js:hover{
    border: 2px solid #f0db4f !important; 
    box-shadow: 0 4px 15px rgba(169, 158, 4, 0.5); 
}

.cuadro-java:hover{
    border: 2px solid #007396 !important; 
    box-shadow: 0 4px 15px rgba(4, 84, 169, 0.5); 
}

.cuadro-react:hover{
    border: 2px solid #61DBFB !important; 
    box-shadow: 0 4px 15px rgba(4, 84, 169, 0.5); 
}

.cuadro-bootstrap:hover{
    border: 2px solid #563d7c !important; 
    box-shadow: 0 4px 15px rgba(70, 4, 169, 0.5); 
}

.cuadro-python:hover{
    border: 2px solid #3776AB !important; 
    box-shadow: 0 4px 15px rgba(4, 98, 169, 0.5); 
}

.cuadro-sql:hover{
    border: 2px solid #fcf305 !important; 
    box-shadow: 0 4px 15px rgba(158, 169, 4, 0.5); 
}

.cuadro-git:hover{
    border: 2px solid #F05032 !important; 
    box-shadow: 0 4px 15px rgba(169, 34, 4, 0.5); 
}

.cuadro-ccna:hover{
    border: 2px solid #0073B1 !important; 
    box-shadow: 0 4px 15px rgba(4, 117, 169, 0.5); 
}

.cuadro-musica:hover{
    border: 2px solid #02cb4c !important; 
    box-shadow: 0 4px 15px rgba(4, 169, 15, 0.5); 
}

.cuadro-pelicula:hover{
    border: 2px solid #000000 !important; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
}

.cuadro-ejercicio:hover{
    border: 2px solid #547478 !important; 
    box-shadow: 0 4px 15px rgba(53, 61, 69, 0.5); 
}

.cuadro,
.cuadro-html,
.cuadro-css,
.cuadro-js,
.cuadro-java,
.cuadro-react,
.cuadro-bootstrap,
.cuadro-python,
.cuadro-sql,
.cuadro-git,
.cuadro-ccna{
    width: 100px;
    height: 100px;
    border: 1px solid;
    align-content: flex-end;
    padding: 5px;
    align-items: center;
    margin: 10px; /* Espaciado entre cuadros */
    position: relative; /* Posición relativa para el ícono */
    overflow: hidden; /* Evita que el contenido se salga del cuadro */
    transition: background-color 0.3s ease; /* Transición de fondo */
    border-radius: 5px;
}

.cuadro p,
.cuadro-html p,
.cuadro-css p,
.cuadro-js p,
.cuadro-java p,
.cuadro-react p,
.cuadro-bootstrap p,
.cuadro-python p,
.cuadro-sql p,
.cuadro-git p,
.cuadro-ccna p,
.cuadro-musica p,
.cuadro-pelicula p,
.cuadro-ejercicio p{
    margin: 0;
    transition: opacity 0.3s ease; 
}

.cuadro-musica,
.cuadro-pelicula,
.cuadro-ejercicio{
    width: 150px;
    height: 100px;
    border: 1px solid;
    align-content: flex-end;
    padding: 5px;
    align-items: center;
    margin: 10px; 
    position: relative; 
    overflow: hidden; 
    transition: background-color 0.3s ease; 
    border-radius: 5px;
}

.cuadro2 p{
    margin: 0;
    transition: opacity 0.3s ease; 
}

.cuadro2:hover{
    border: 2px solid #0467a9; 
    box-shadow: 0 4px 15px rgba(4, 103, 169, 0.5); 
}

.iconhtml ,
.iconCss ,
.iconJs,
.iconJ,
.iconReact,
.iconBoo,
.iconPy,
.iconSQL,
.iconGit,
.iconCCNA,
.iconmusic,
.iconMovie,
.iconEjer{
    font-size: 40px;
    transition: transform 0.8s, color 0.3s, margin-left 0.1s;
    transform-origin: center;
}

.cuadro-html:hover .iconhtml{
    transform: scale(1.9);
    color: #ff5733;
    align-items: center;
    margin-left: 29px;
}

.cuadro-css:hover .iconCss{
    transform: scale(1.9);
    color: #2965f1;
    align-items: center;
    margin-left: 29px;
}

.cuadro-js:hover .iconJs{
    transform: scale(1.9);
    color: #f0db4f;
    align-items: center;
    margin-left: 27px;
    border: #2965f1;
}

.cuadro-java:hover .iconJ{
    transform: scale(1.9);
    color: #007396;
    align-items: center;
    margin-left: 29px;
}

.cuadro-react:hover .iconReact{
    transform: scale(1.9);
    color: #61DBFB;
    align-items: center;
    margin-left: 25px;
}

.cuadro-bootstrap:hover .iconBoo{
    transform: scale(1.8);
    color: #563d7c;
    align-items: center;
    margin-left: 22px;
}

.cuadro-python:hover .iconPy{
    transform: scale(1.9);
    color: #3776AB;
    align-items: center;
    margin-left: 25px;
}

.cuadro-sql:hover .iconSQL{
    transform: scale(1.9);
    color: #fcf305;
    align-items: center;
    margin-left: 27px;
}

.cuadro-git:hover .iconGit{
    transform: scale(1.9);
    color: #F05032;
    align-items: center;
    margin-left: 26px;
}

.cuadro-ccna:hover .iconCCNA{
    transform: scale(1.6);
    color: #0073B1;
    align-items: center;
    margin-left: 20px;
}

.cuadro-musica:hover .iconmusic{
    transform: scale(1.7);
    color: #02cb4c;
    align-items: center;
    margin-left: 45px;
}

.cuadro-pelicula:hover .iconMovie{
    transform: scale(1.7);
    color: #2e363a;
    align-items: center;
    margin-left: 45px;
}

.cuadro-ejercicio:hover .iconEjer{
    transform: scale(1.7);
    color: #547478;
    align-items: center;
    margin-left: 45px;
}

.cuadro-html:hover p,
.cuadro-css:hover p,
.cuadro-js:hover p,
.cuadro-java:hover p,
.cuadro-react:hover P,
.cuadro-bootstrap:hover p,
.cuadro-python:hover p,
.cuadro-sql:hover p,
.cuadro-git:hover p,
.cuadro-ccna:hover p,
.cuadro-musica:hover p,
.cuadro-pelicula:hover p,
.cuadro-ejercicio:hover p{
    opacity: 0;
}

.cuadro2:hover p{
    opacity: 0;
}


.formacion{
    align-content: center;
}
.formacionAcademica{
    margin: 5% 10%;
    align-items: center;
}

.formacionAcademica h2{
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.logros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.logro {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 280px;
    padding: 20px;
    margin: 5px;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    justify-content: space-around;
    background: white;
    border: 2px solid var(--secondary-color);
    box-shadow:  var(--secondary-color) 0 1px 3px;
}




.logro .overlay {
    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el botón en el contenedor */
    color: black;
    border: var(--secondary-color) solid 1px;
    box-shadow: var(--secondary-color) 0 4px 15px;
    background-color: var(--white);
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    pointer-events: none; /* No permite interacción cuando no es visible */
    z-index: 2; /* Asegura que esté encima de la imagen */
}

.logro img {
    height: 110px;
    padding: 10px 0;
    transition: all 0.3s ease;
    z-index: 1; /* Asegura que la imagen esté detrás del overlay */
    background-color: white;
}

.logro:hover .overlay {
    opacity: 1; 
    pointer-events: auto; 
}

.logro:hover img {
    filter: blur(3px); 
}


.logro p{
    font-size: 16px;
}

.experienciaLaboral{
    align-content: center;
}

.misProyectos{
    display: flex;
    margin: 5% 10%;
    flex-direction: column;
}

.muestra_proyectos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    gap: 40px;
    width: 100%;
    height: 400px;
}

.misProyectos h2{
    text-align: center;
    color: var(--white);
    background-color: var(--secondary-color);
}


.muestra_proyecto_contenido_img{
    flex: 2;
    overflow: hidden;
    display: flex;
    height: 100%;
}

.muestra_proyecto_contenido_img img{
    width: auto;
}

.muestra_proyecto_contenido_img:hover{
    box-shadow: var(--secondary-color) 0 4px 15px;
}
.muestra_proyecto_contenido{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 50px;
}

.proyectos{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.proyecto_enlaces{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.proyecto_enlaces a{
    text-decoration: none;
    color: black;
    border: var(--secondary-color) solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    width: 150px;
    align-items: center;
    text-align: center;
}

.proyecto_enlaces a:hover{
    box-shadow: var(--terceary-color) 0 4px 15px;
}


.contacto{
    display: flex;
    margin: 5% 10% 0;
    gap: 50px;
}

.contactoColumna1{
    display: flex;
    flex-direction: column;
}

.contacto_img{
    display: flex;
    border: var(--secondary-color) solid 5px;
    height: 400px;
}

.contacto_img img{
    padding: 10%;
    height: 100%;
}

.redes{
    display: flex;
    margin: 5%;
    justify-content: space-around;
}

.redes a{
    color: black;
    font-size: 40px;
    text-decoration: none;
}

.redes a i:hover{
    color: var(--secondary-color);
}

.redes{
    flex-direction: row;
}

.contactoColumna2{
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.formularioContacto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedorNombre,
.contenedorEmail,
.contenedorAsunto{
    position: relative;
    height: 41px;
    line-height: 42px;
}
.contenedorMensaje{
    position: relative;
    height: 100px;
    line-height: 42px;
}

.contenedorNombre input,
.contenedorEmail input,
.contenedorAsunto input,
.contenedorMensaje textarea{
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 1.2em ;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    transition: 0.1s ease;
    z-index: 1;
}

.labelLine{
    position: absolute;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    padding: 0 5px;
    margin: 0 20px;
    background-color: rgb(255, 255, 255);
    transition: 0.2s ease;
}

.contenedorNombre input:focus,
.contenedorEmail input:focus,
.contenedorAsunto input:focus,
.contenedorMensaje textarea:focus,
.contenedorNombre input:valid,
.contenedorEmail input:valid,
.contenedorAsunto input:valid,
.contenedorMensaje textarea:valid {
    color: black;
    border: var(--secondary-color) 2px solid;
}

.contenedorNombre input:focus + .labelLine,
.contenedorEmail input:focus + .labelLine,
.contenedorAsunto input:focus + .labelLine,
.contenedorMensaje textarea:focus + .labelLine,
.contenedorNombre input:valid + .labelLine,
.contenedorEmail input:valid + .labelLine,
.contenedorAsunto input:valid + .labelLine,
.contenedorMensaje textarea:valid + .labelLine {
    color: var(--secondary-color);
    line-height: 30px;
    height: 20px;
    transform: translate(-15px, -15px) scale(0.88);
    z-index: 2;
}


.contenedorEmail{
    flex-direction: column;
    display: flex;
}

.contenedorAsunto{
    flex-direction: column;
    display: flex;
}

.contenedorMensaje{
    flex-direction: column;
    display: flex;
}

.contenedorMensaje textarea{
    width: 100%;
    max-width: 100%;
    height: 100px;
    resize: none;
}

.BotonFormulario{
    border: 2px var(--secondary-color) solid;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
}

.BotonFormulario:hover{
    box-shadow: var(--secondary-color) 0 4px 15px;
}

fieldset{
    max-width: 100%;
    flex-direction: column;
}

input{
    max-width: 100%;
}

footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    width: 100%;
}



.textoFooter{
    margin: 0;
    color: var(--white);
}

@media (max-width: 991px) {
    .cabezera_menu{
        font-size: 22px;
    }
    .muestra_proyectos{
        flex-direction: column;
        height: 600px;
    }
    .muestra_proyecto_contenido{
        gap: 30px;
    }
    .muestra_proyecto_contenido_img {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative; 
        object-fit: cover;
    }
    
    .muestra_proyecto_contenido_img img {
        width: 100%;
        height: 100%; 
        object-fit: fill; 
        display: block;
    }
    .muestra_proyectos.juego-secreto{
        flex-direction: column-reverse;
    }
    .contacto{
        flex-direction: column-reverse;
    }
    .contacto_img{
        display: none;
    }
    .redes{
        margin: 0;
    }
    .redes a{
        font-size: 50px;
    }

}

@media (max-width: 767px) {
    .cabezera{
        height: 90px;
    }
    .menu-hamburguesa{
        display: flex;
    }
    .cabezera_navegacion{
        display: none;
    }
    .main_presentacion{
        flex-direction: column-reverse;
        margin: 30% 10% 10%;
        align-items: start;
        gap: 20px;
    }
    .mi_foto{
        width: 130px;
        height: 130px;
    }
    .presentacion_contenido h1{
        font-size: 35px;
    }
    .presentacion_enlaces{
        align-items: center;
        justify-content: center;
    }
    .menu_sidebar{
        position: fixed;
        background-color: var(--secondary-color);
        width: 200px;
        height: 100%;
        z-index: 2;
        justify-content: end;
        right: 0;
        box-shadow: rgba(17, 15, 15, 0.679) 4px 4px 20px;
        display: none;
        top:55px;
    }
    .menu_sidebar.scrolled{
        background-color: rgba(26, 78, 156, 0.7); /* Color con transparencia */
        backdrop-filter: blur(10px); /* Efecto de desenfoque */
    }
    .menu-hamburguesa.active .hamburguesa:nth-child(1) {
        transform: rotate(45deg) translate(8px, 6px);
        width: 40px;
    }
    
    .menu-hamburguesa.active .hamburguesa:nth-child(2) {
        opacity: 0;
    }
    
    .menu-hamburguesa.active .hamburguesa:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
        width: 40px;
    }
    .sidebar_navegacion{
        margin-top: 20%;
    }
    .sidebar_menu{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style: none;
        top: 50px;
        gap: 20px;
    }
    .sidebar_menu a{
        text-decoration: none;
        color: var(--white);
        
    }
    .muestra_proyecto_contenido{
        max-width: 100%;
    }
}